.course-card {
    overflow: hidden;
    cursor: pointer;
    &:hover {
        background-color: $light;
        border: solid 1px $gray-300;
    }
    .course-image {
        max-height: 200px;
        max-width: 200px
    }
    .course-description {

    }
    .course-actions {

    }
}